*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: rgb(232, 238, 231);
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
}
.App{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.App > h1{
    text-align: center;
    font-size: 30px;
    padding: 30px 0px;
    text-shadow: 2px 2px 0 black;
}
.ClimaInfo > h2{
    text-align: center;
    font-size: 21px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0 black;
}

.Clima{
    padding-bottom: 40px;
}
.ClimaInfo{
    background-color: rgb(0 0 0 / 53%);
    padding: 28px 10px;
    border-radius: 20px;
    width: 90%;
    max-width: 380px;
    box-shadow: 0px 0 6px #303030;
    position: relative;
}
.gps{
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c6c9d;
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0px 1px 6px 0px #11597c;
    transition: background, .4s ease
}
.gps i{
    color: white;
    text-shadow: 2px 2px 0 black;
    font-size: 14px;
}

.ContainerCard{
    display: flex;
    justify-content: center;
}
.ContainerForm{
    width: 90%;
    margin: auto;
    margin-bottom: 24px;
}
form{
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 380px;
    border-radius: 5px;
    box-shadow: 0px 0 6px #303030;
}
form input{
    width: 90%;
    padding: 7px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px 0px 0px 5px;
    color: white;
    background-color: rgb(0 0 0 / 53%);
    height: 32px;
}

form button{
    font-size: 13px;
    font-weight: 600;
    padding: 0px 10px;
    color: white;
    background-color: #0d4b6a;
    border-radius:  0px 5px 5px 0px;
    transition: background .4s ease;
}
h4{
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 0 black;
}
.Card h2{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    text-shadow: 2px 2px 0 black;
}
.Card h3{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0px 15px 0px;
    text-shadow: 2px 2px 0 black;
}
.Card p{
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 8px;
    text-shadow: 2px 2px 0 black;
}

.ContainerImg{
    text-align: center;
}
.ContainerImg img{
    width: 75px;
    filter: drop-shadow(2px 2px 0px black);
}   

.Container{
   display: flex;
   justify-content: center;
   gap: 20px;
}
.ContainerInfo img{
    width: 17px;
    color: white;
    position: relative;
    top: 4px;
}
.ContainerButton{
    display: flex;
    justify-content: center;
}

.ContainerButton button{
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: #0d4b6a;
    margin-top: 15px;
    box-shadow: 0px 1px 6px 0px #11597c;
    padding: 7px 10px;
    transition: background .4s ease;
}
 button:hover{
    background-color: #0a819e;
}

/*---LOADING----*/
.loading{
    text-align: center;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 15px;
    background: rgb(255, 255, 255);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
   


